<div id="contact">
    <div class="info"> <h1>Let's stay in touch</h1>
      <div>
        <h2>Email: bianca.enache29@gmail.com <br/>
        Phone: 07 07 07 07 07 <br/>
        Instagram: fake.insta
        </h2>
      </div>  
    </div>
</div>