<div id="home">
    <div class="intro">
        <h1>Salut! 
         Welcome to my cave! </h1></div>
         <div class="pic-container">
        <img class="picofme" src="/img/me2.jpeg" alt="pic of me"/></div>
        <div class="outro">
            <h2>Have fun exploring!</h2>
        </div> 
</div>        

